<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		@Styles.Render("~/Content/user")
	</head>
	<body>
		@RenderBody()
		<footer id="main">
		  <strong>Copyright &copy; 2012 Best PCB</strong>
		</footer>
		@{ Html.RenderPartial("_jQueryCDN"); }
		@Scripts.Render("~/bundles/all")
		@RenderSection("scripts", required: false)
	</body>
</html>